  <div style="gallery">
  <% @all_images.each do |image, location| %>
      <ul class="rig">
        <li>
          <%= image_tag "#{image}" %> 
          <%  location.each do |loc| %> 
                <%= loc %> 
          <% end %>
        </li>
      </ul>
  <% end %>
</div>
