<div style="gallery">
  <% @locations.each_with_index do |image, value| %>
      <ul class="rig">
        <li>
          <% if image.include? "http" %>
              <%= image_tag "#{image}" %> 
         <% end %>
            <%=  image["latitude"] %><br /><%= image["longitude"]%>
        </li>
      </ul>

<% end %>
</div>
